.counter {
    width: 200px;
    border: 1px solid darkcyan;
    text-align: center;
    border-radius: 12px;
    margin-block-end: 32px;
    padding-block: 16px;
    padding-inline: 16px;
    background-color: #fff;
    margin-inline: auto;
}

.counterTitle {
    margin: 0;
    margin-block-end: 16px;
}

.counterButton {
    font-size: 24px;
    width: 36px;
    height: 36px;
    border-radius: 4px;
    border: 1px solid darkcyan;
    background-color: darkcyan;
    color: antiquewhite;
    cursor: pointer;
}

.counterValue {
    font-size: 24px;
    margin: 0;
}

.counterWrapper {
    display: flex;
    justify-content: space-between;
    width: 128px;
    margin-inline: auto;
}