.root {
  background-color: darkcyan;
  width: 300px;
  margin-inline: auto;
  padding-inline: 16px;
  padding-block: 16px;
  box-sizing: border-box;
  border-radius: 16px;
}

.appButton {
  font-size: 14px;
  width: 120px;
  border-radius: 4px;
  border: 1px solid white;
  background-color: white;
  color: darkcyan;
  cursor: pointer;
  padding-inline: 16px;
  padding-block: 16px;
}

.appButtonHolder {
  display: flex;
  justify-content: space-between;
  width: 100%;
}